PORT=3006
BASE_URL=http://localhost:3006

DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/DB_NAME

ENCRYPTION_KEY=GENERATE_WITH_node_-e_require_crypto_randomBytes_32_toString_hex

#JWT_SECRET=YOUR_JWT_SECRET

DAILY_API_KEY=YOUR_DAILY_API_KEY
DAILY_DOMAIN=YOUR_DOMAIN

FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=your_db_name